.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

.navbar {
  width: 98vw;
  padding: 10px;
  background-color: #fff;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-content {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 95%;
  justify-content: space-between;
}

.logo {
  height: 45px;
}

.file-input {
  display: none;
}

.upload-button {
  padding: 9px 50px;
  border: 2px solid;
  font-weight: 700;
  border-radius: 5px;
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
}

.upload-button:hover {
  background-color: #f1f1f1;
}

.chat-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 98vw;
  height: 100%;
  background-color: #f0f0f0;
  overflow: hidden;
}

.chat-messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.chat-message {
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
  max-width: 80%;
}

.chat-message.user {
  align-self: flex-end;
  background-color: #dcf8c6;
}

.chat-message.ai {
  align-self: flex-start;
  background-color: #ececec;
}

.input-container {
  display: flex;
  align-self: center;
  max-width: 90%;
  padding: 15px;
  background-color: #f0f0f0;
}

.question-input {
  flex: 1;
  padding: 10px;
  width: 800px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.ask-button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}

.ask-button:hover {
  background-color: #45a049;
}
